.main {
  display: flex;
  gap: 10rem;
  flex-direction: column;
}

.firstView {
  width: 100vw;
  height: 100vh;
  background-color: var(--blue);
}

.section {
  padding: 0 5vw;
}

.statement {
  font-weight: 700;
  color: var(--blue);
  line-height: 3rem;
  width: 40vw;
}

.headline {
  font-weight: 700;
  color: var(--blue);
  margin-bottom: 3rem;
}

.movieContainer {
  display: flex;
  gap: 3rem;
  align-items: flex-end;
  .movieWrapper {
    width: 40vw;
  }
  .textWrapper {
    font-weight: 700;
    color: var(--blue);
    line-height: 2.5rem;
  }
}
