.main {
  display: flex;
  gap: 10rem;
  flex-direction: column;
}

.firstView {
  width: 100vw;
  height: 100vh;
  background-color: var(--blue);
}

.tagline {
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  font-weight: 700;
  color: white;
  font-size: 1.2rem;
  letter-spacing: 0.3rem;
}

.section {
  padding: 0 5vw;
}

.statement {
  font-weight: 700;
  color: var(--blue);
  line-height: 3rem;
  width: 40vw;
}

.headline {
  font-weight: 700;
  color: var(--blue);
  margin-bottom: 3rem;
}

.commentContainer {
  background-color: var(--yellow);
  border-radius: 10px;
  padding: 3rem;
  width: 35vw;
  font-weight: 700;
  line-height: 2rem;
}

.contact {
  width: 100vw;
  height: 100vh;
  background-color: var(--blue);
}

.movieContainer {
  display: flex;
  gap: 3rem;
  align-items: flex-end;
  .movieWrapper {
    width: 40vw;
  }
  .textWrapper {
    font-weight: 700;
    color: var(--blue);
    line-height: 2.5rem;
  }
}
